.elementor-17 .elementor-element.elementor-element-1631d4a1:not(.elementor-motion-effects-element-type-background),
.elementor-17 .elementor-element.elementor-element-1631d4a1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../../2024/01/MB/16.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementor-17 .elementor-element.elementor-element-1631d4a1>.elementor-background-overlay {
  background-color: #000000;
  opacity: 0.64;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-1631d4a1 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -76px;
  margin-bottom: 0px;
  padding: 170px 0px 158px 0px;
}

.elementor-17 .elementor-element.elementor-element-c6ec150 {
  text-align: center;
}

.elementor-17 .elementor-element.elementor-element-c6ec150 .elementor-heading-title {
  color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-c6ec150>.elementor-widget-container {
  margin: 17px 0px 0px 0px;
}

.elementor-17 .elementor-element.elementor-element-72308e04>.elementor-container {
  max-width: 1040px;
}

.elementor-17 .elementor-element.elementor-element-72308e04:not(.elementor-motion-effects-element-type-background),
.elementor-17 .elementor-element.elementor-element-72308e04>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../../2023/04/jean-philippe-delberghe-660138-unsplash.html");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementor-17 .elementor-element.elementor-element-72308e04>.elementor-background-overlay {
  background-color: #f5f7fa;
  opacity: 0.97;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-72308e04 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 0px 60px 0px;
}

.elementor-17 .elementor-element.elementor-element-7226a3da>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 12px;
}

.elementor-17 .elementor-element.elementor-element-6b14c203 {
  --divider-border-style: solid;
  --divider-color: #ED0000;
  --divider-border-width: 4px;
}

.elementor-17 .elementor-element.elementor-element-6b14c203 .elementor-divider-separator {
  width: 48px;
}

.elementor-17 .elementor-element.elementor-element-6b14c203 .elementor-divider {
  padding-top: 8px;
  padding-bottom: 8px;
}

.elementor-17 .elementor-element.elementor-element-171b7633 .elementor-heading-title {
  color: rgba(0, 0, 0, 0.54);
  font-family: "Aharoni";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: 0.15px;
}

.elementor-17 .elementor-element.elementor-element-171b7633>.elementor-widget-container {
  margin: 0px 0px 20px 0px;
}

.elementor-17 .elementor-element.elementor-element-2f65c7b8>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 12px;
}

.elementor-17 .elementor-element.elementor-element-3fe3a472 {
  color: #777777;
  font-size: 0.875rem;
  line-height: 1.617em;
}

.elementor-17 .elementor-element.elementor-element-6bcf2cc0>.elementor-widget-container {
  margin: 0px 0px 32px 0px;
}

.elementor-17 .elementor-element.elementor-element-598720d5 {
  text-align: left;
}

.elementor-17 .elementor-element.elementor-element-598720d5 .elementor-heading-title {
  color: rgba(0, 0, 0, 0.54);
  font-family: "Roboto", Sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.4em;
  letter-spacing: 0.15px;
}

.elementor-17 .elementor-element.elementor-element-598720d5>.elementor-widget-container {
  padding: 0px 0px 0px 24px;
  border-style: solid;
  border-width: 0px 0px 0px 4px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 1px;
}

.elementor-17 .elementor-element.elementor-element-4e03bd11 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 14px;
  --grid-column-gap: 6px;
  --grid-row-gap: 0px;
}

.elementor-17 .elementor-element.elementor-element-4e03bd11 .elementor-social-icon {
  background-color: rgba(255, 255, 255, 0);
  --icon-padding: 0.6em;
}

.elementor-17 .elementor-element.elementor-element-4e03bd11 .elementor-social-icon i {
  color: #999999;
}

.elementor-17 .elementor-element.elementor-element-4e03bd11 .elementor-social-icon svg {
  fill: #999999;
}

.elementor-17 .elementor-element.elementor-element-4e03bd11 .elementor-icon {
  border-radius: 24px 24px 24px 24px;
}

.elementor-17 .elementor-element.elementor-element-4e03bd11 .elementor-social-icon:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.elementor-17 .elementor-element.elementor-element-4e03bd11 .elementor-social-icon:hover i {
  color: #777777;
}

.elementor-17 .elementor-element.elementor-element-4e03bd11 .elementor-social-icon:hover svg {
  fill: #777777;
}

.elementor-17 .elementor-element.elementor-element-7e5b05f5>.elementor-container {
  max-width: 700px;
}

.elementor-17 .elementor-element.elementor-element-7e5b05f5>.elementor-container>.elementor-column>.elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.elementor-17 .elementor-element.elementor-element-7e5b05f5:not(.elementor-motion-effects-element-type-background),
.elementor-17 .elementor-element.elementor-element-7e5b05f5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../../2023/03/fd-97_260_52730848218_o.html");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementor-17 .elementor-element.elementor-element-7e5b05f5>.elementor-background-overlay {
  background-color: #001930;
  opacity: 0.92;
  mix-blend-mode: darken;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-7e5b05f5 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 18px;
  margin-bottom: 19px;
  padding: 78px 0px 83px 0px;
}

.elementor-17 .elementor-element.elementor-element-690fb108 {
  --divider-border-style: solid;
  --divider-color: #D53A01;
  --divider-border-width: 3px;
}

.elementor-17 .elementor-element.elementor-element-690fb108 .elementor-divider-separator {
  width: 99px;
  margin: 0 auto;
  margin-right: 0;
}

.elementor-17 .elementor-element.elementor-element-690fb108 .elementor-divider {
  text-align: right;
  padding-top: 15px;
  padding-bottom: 15px;
}

.elementor-17 .elementor-element.elementor-element-625edf66 img {
  width: 100%;
}

.elementor-17 .elementor-element.elementor-element-7a51b2b2 {
  --divider-border-style: solid;
  --divider-color: #D53A01;
  --divider-border-width: 3px;
}

.elementor-17 .elementor-element.elementor-element-7a51b2b2 .elementor-divider-separator {
  width: 99px;
  margin: 0 auto;
  margin-left: 0;
}

.elementor-17 .elementor-element.elementor-element-7a51b2b2 .elementor-divider {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.elementor-17 .elementor-element.elementor-element-8e1ab26 {
  color: #FFFDFD;
}

.elementor-17 .elementor-element.elementor-element-2f94262b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 12px;
}

.elementor-17 .elementor-element.elementor-element-231bf38b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 12px;
}

.elementor-17 .elementor-element.elementor-element-231bf38b>.elementor-element-populated {
  text-align: left;
}

.elementor-17 .elementor-element.elementor-element-320e1a36 .elementor-heading-title {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Tahoma";
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.3em;
}

.elementor-17 .elementor-element.elementor-element-778f00d9 {
  --divider-border-style: solid;
  --divider-color: #DE0707;
  --divider-border-width: 4px;
}

.elementor-17 .elementor-element.elementor-element-778f00d9 .elementor-divider-separator {
  width: 48px;
}

.elementor-17 .elementor-element.elementor-element-778f00d9 .elementor-divider {
  padding-top: 8px;
  padding-bottom: 8px;
}

.elementor-17 .elementor-element.elementor-element-74db5cab {
  color: #777777;
  font-family: "Aharoni";
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.617em;
}

.elementor-17 .elementor-element.elementor-element-74db5cab>.elementor-widget-container {
  margin: 0px 0px 32px 0px;
}

.elementor-17 .elementor-element.elementor-element-442b8514>.elementor-container {
  max-width: 1040px;
  text-align: center;
}

.elementor-17 .elementor-element.elementor-element-442b8514:not(.elementor-motion-effects-element-type-background),
.elementor-17 .elementor-element.elementor-element-442b8514>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../../2023/04/modern-essentials-798265-unsplash.html");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementor-17 .elementor-element.elementor-element-442b8514>.elementor-background-overlay {
  background-color: #ffffff;
  opacity: 0.97;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-442b8514 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 80px 0px 80px 0px;
}

.elementor-17 .elementor-element.elementor-element-b44e89d {
  text-align: left;
}

.elementor-17 .elementor-element.elementor-element-78fb014>.elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-17 .elementor-element.elementor-element-78fb014>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-239a5af7:not(.elementor-motion-effects-element-type-background),
.elementor-17 .elementor-element.elementor-element-239a5af7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #2575fc;
}

.elementor-17 .elementor-element.elementor-element-239a5af7 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 0px 30px 0px;
}

.elementor-17 .elementor-element.elementor-element-239a5af7>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-77dd7d63 .elementskit-section-title-wraper .elementskit-section-title {
  color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-77dd7d63 .elementskit-section-title-wraper .elementskit-section-title>span {
  color: #000000;
}

.elementor-17 .elementor-element.elementor-element-77dd7d63 .elementskit-section-title-wraper .elementskit-section-title:hover>span {
  color: #000000;
}

.elementor-17 .elementor-element.elementor-element-77dd7d63 .elementskit-section-title-wraper p {
  color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-77dd7d63 .elementskit-section-title-wraper .elementskit-border-divider {
  width: 100px;
  background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 100%);
}

.elementor-17 .elementor-element.elementor-element-77dd7d63 .elementskit-section-title-wraper .elementskit-border-divider.elementskit-style-long {
  width: 100px;
  height: 4px;
  color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-77dd7d63 .elementskit-section-title-wraper .elementskit-border-star {
  width: 100px;
  height: 4px;
  color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-77dd7d63 .elementskit-section-title-wraper .elementskit-border-divider,
.elementor-17 .elementor-element.elementor-element-77dd7d63 .elementskit-border-divider::before {
  height: 4px;
}

.elementor-17 .elementor-element.elementor-element-77dd7d63 .elementskit-section-title-wraper .elementskit-border-divider:before {
  background-color: #FFFFFF;
  color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-77dd7d63 .elementskit-section-title-wraper .elementskit-border-star:after {
  background-color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-77dd7d63>.elementor-widget-container {
  margin: 0px 0px 30px 0px;
}

.elementor-17 .elementor-element.elementor-element-4feb0060 .elementskit-section-title-wraper .elementskit-section-title {
  color: #ffffff;
  margin: 0px 0px 25px 0px;
  font-family: "Lato", Sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.elementor-17 .elementor-element.elementor-element-4feb0060 .elementskit-section-title-wraper .elementskit-section-title>span {
  color: #2575fc;
}

.elementor-17 .elementor-element.elementor-element-4feb0060 .elementskit-section-title-wraper .elementskit-section-title:hover>span {
  color: #000000;
}

.elementor-17 .elementor-element.elementor-element-4feb0060 .elementskit-section-title-wraper p {
  color: #ffffff;
  font-family: "Lato", Sans-serif;
  font-size: 15px;
}

.elementor-bc-flex-widget .elementor-17 .elementor-element.elementor-element-6785a1e0.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-17 .elementor-element.elementor-element-6785a1e0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-17 .elementor-element.elementor-element-6785a1e0>.elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-17 .elementor-element.elementor-element-6785a1e0>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-7fdeb807:not(.elementor-motion-effects-element-type-background),
.elementor-17 .elementor-element.elementor-element-7fdeb807>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-7fdeb807 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}

.elementor-17 .elementor-element.elementor-element-7fdeb807>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-5ee74195 .elementskit-section-title-wraper .elementskit-section-title>span {
  color: #000000;
}

.elementor-17 .elementor-element.elementor-element-5ee74195 .elementskit-section-title-wraper .elementskit-section-title:hover>span {
  color: #000000;
}

.elementor-17 .elementor-element.elementor-element-5ee74195 .elementskit-section-title-wraper .elementskit-border-divider,
.elementor-17 .elementor-element.elementor-element-5ee74195 .elementskit-border-divider::before {
  height: 4px;
}

.elementor-17 .elementor-element.elementor-element-5ee74195 .elementskit-section-title-wraper .elementskit-border-divider.elementskit-style-long {
  height: 4px;
}

.elementor-17 .elementor-element.elementor-element-5ee74195 .elementskit-section-title-wraper .elementskit-border-star {
  height: 4px;
}

.elementor-17 .elementor-element.elementor-element-5ee74195>.elementor-widget-container {
  margin: 0px 0px 40px 0px;
}

.elementor-17 .elementor-element.elementor-element-7000bb4f .elementkit-tab-wraper .elementkit-nav-link.left-pos .elementskit-tab-icon {
  margin-right: 8%;
}

.elementor-17 .elementor-element.elementor-element-7000bb4f .elementkit-tab-wraper .elementkit-nav-link.left-pos .ekit-icon-image {
  margin-right: 8%;
}

.elementor-17 .elementor-element.elementor-element-7000bb4f .elementkit-tab-wraper.elementskit-fitcontent-tab:not(.vertical) {
  text-align: center;
}

.elementor-17 .elementor-element.elementor-element-7000bb4f .elementkit-tab-wraper .elementkit-nav-link {
  justify-content: center;
}

.elementor-17 .elementor-element.elementor-element-7000bb4f .elementkit-tab-nav {
  margin: 0px 0px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

.elementor-17 .elementor-element.elementor-element-7000bb4f .elementkit-tab-wraper:not(.vertical) .elementkit-nav-item:not(:last-child) {
  margin-right: 20px;
}

.rtl .elementor-17 .elementor-element.elementor-element-7000bb4f .elementkit-tab-wraper:not(.vertical) .elementkit-nav-item:not(:last-child) {
  margin-left: 20px;
  margin-right: 0;
}

.elementor-17 .elementor-element.elementor-element-7000bb4f .elementkit-tab-wraper.vertical .elementkit-tab-nav {
  margin-right: 20px;
}

.elementor-17 .elementor-element.elementor-element-7000bb4f .elementkit-tab-wraper.vertical .elementkit-nav-item:not(:last-child) {
  margin-bottom: 20px;
}

.elementor-17 .elementor-element.elementor-element-7000bb4f .elementkit-tab-wraper:not(.vertical) .elementkit-tab-nav {
  margin-bottom: 20px;
}

.elementor-17 .elementor-element.elementor-element-7000bb4f .elementkit-tab-nav .elementkit-nav-link {
  padding: 15px 50px 15px 50px;
  color: #2575fc;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #6a11cb;
}

.elementor-17 .elementor-element.elementor-element-7000bb4f .elementkit-tab-nav .elementkit-nav-link.active {
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(90deg, #2575fc 0%, #6a11cb 100%);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: rgba(35, 164, 85, 0);
}

.elementor-17 .elementor-element.elementor-element-7000bb4f .elementkit-tab-nav .elementkit-nav-item a.elementkit-nav-link {
  border-radius: 5px 5px 5px 5px;
}

.elementor-17 .elementor-element.elementor-element-7000bb4f .elementskit_tooltip_style.elementkit-tab-nav .elementkit-nav-item .elementkit-nav-link::before {
  width: 24px;
  height: 24px;
  bottom: -13px;
}

.elementor-17 .elementor-element.elementor-element-7000bb4f .elementkit-tab-nav.elementskit_tooltip_style .elementkit-nav-item .elementkit-nav-link::before {
  left: 50%;
}

.elementor-17 .elementor-element.elementor-element-7000bb4f .tab-content .tab-pane {
  color: #656565;
  padding: 20px 30px 20px 30px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #6a11cb;
  border-radius: 5px 5px 5px 5px;
  box-shadow: -1px 7px 15px 0px rgba(0, 0, 0, 0.07);
}

.elementor-17 .elementor-element.elementor-element-1671c1f>.elementor-background-overlay {
  background-color: #ffffff;
  opacity: 0.93;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-1671c1f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-17 .elementor-element.elementor-element-4c833efd:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-17 .elementor-element.elementor-element-4c833efd>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../../2023/03/chapel_2.html");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementor-17 .elementor-element.elementor-element-4c833efd>.elementor-element-populated>.elementor-background-overlay {
  background-color: #f9f6db;
  opacity: 0.23;
}

.elementor-17 .elementor-element.elementor-element-4c833efd>.elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-17 .elementor-element.elementor-element-4c833efd>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-1ca7f767 {
  --spacer-size: 50px;
}

.elementor-17 .elementor-element.elementor-element-67000bb0>.elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 50px 80px 80px;
}

.elementor-17 .elementor-element.elementor-element-67000bb0>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-3360287d>.elementor-container {
  max-width: 700px;
}

.elementor-17 .elementor-element.elementor-element-2c9500e5 {
  text-align: center;
}

.elementor-17 .elementor-element.elementor-element-2c9500e5 .elementor-heading-title {
  color: #28211a;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 3.8em;
  font-weight: 800;
}

.elementor-17 .elementor-element.elementor-element-3aff4515 {
  --divider-border-style: solid;
  --divider-color: #FF0000;
  --divider-border-width: 3px;
}

.elementor-17 .elementor-element.elementor-element-3aff4515 .elementor-divider-separator {
  width: 72px;
  margin: 0 auto;
  margin-center: 0;
}

.elementor-17 .elementor-element.elementor-element-3aff4515 .elementor-divider {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.elementor-17 .elementor-element.elementor-element-4bdd61c7 {
  text-align: center;
  color: #757575;
  font-family: "Nunito", Sans-serif;
  font-size: 1em;
  line-height: 1.7em;
}

.elementor-17 .elementor-element.elementor-element-48f3c8f6 {
  margin-top: 0px;
  margin-bottom: 30px;
}

.elementor-17 .elementor-element.elementor-element-74c14833 {
  text-align: left;
  color: #757575;
  font-family: "Nunito", Sans-serif;
  font-size: 1em;
  line-height: 1.7em;
}

.elementor-bc-flex-widget .elementor-17 .elementor-element.elementor-element-4b55d866.elementor-column .elementor-widget-wrap {
  align-items: flex-start;
}

.elementor-17 .elementor-element.elementor-element-4b55d866.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: flex-start;
  align-items: flex-start;
}

.elementor-17 .elementor-element.elementor-element-404abda0 {
  text-align: left;
}

.elementor-17 .elementor-element.elementor-element-404abda0 img {
  width: 100%;
  transition-duration: 0.9s;
}

.elementor-17 .elementor-element.elementor-element-404abda0:hover img {
  opacity: 0.64;
}

.elementor-17 .elementor-element.elementor-element-404abda0>.elementor-widget-container {
  margin: -20px 0px 0px -100px;
}

.elementor-17 .elementor-element.elementor-element-15eae555>.elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0em 0em 0em 2em;
}

.elementor-17 .elementor-element.elementor-element-1e81b127 {
  text-align: left;
  color: #757575;
  font-family: "Nunito", Sans-serif;
  font-size: 1em;
  line-height: 1.7em;
}

.elementor-17 .elementor-element.elementor-element-1e81b127>.elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-17 .elementor-element.elementor-element-492c7533 {
  margin-top: 0px;
  margin-bottom: 30px;
}

.elementor-17 .elementor-element.elementor-element-108fcebd {
  text-align: left;
  color: #757575;
  font-family: "Nunito", Sans-serif;
  font-size: 1em;
  line-height: 1.7em;
}

.elementor-17 .elementor-element.elementor-element-7d4c49e0 {
  --spacer-size: 50px;
}

@media(min-width:768px) {
  .elementor-17 .elementor-element.elementor-element-77318bc6 {
    width: 47%;
  }

  .elementor-17 .elementor-element.elementor-element-188f51f0 {
    width: 5.333%;
  }

  .elementor-17 .elementor-element.elementor-element-3cf98eae {
    width: 47%;
  }

  .elementor-17 .elementor-element.elementor-element-6fdaacb3 {
    width: 58.33%;
  }

  .elementor-17 .elementor-element.elementor-element-6785a1e0 {
    width: 41.67%;
  }

  .elementor-17 .elementor-element.elementor-element-4c833efd {
    width: 33.011%;
  }

  .elementor-17 .elementor-element.elementor-element-67000bb0 {
    width: 58.985%;
  }

  .elementor-17 .elementor-element.elementor-element-4b55d866 {
    width: 45.588%;
  }

  .elementor-17 .elementor-element.elementor-element-15eae555 {
    width: 54.412%;
  }

  .elementor-17 .elementor-element.elementor-element-42784df6 {
    width: 8%;
  }
}

@media(max-width:1024px) and (min-width:768px) {
  .elementor-17 .elementor-element.elementor-element-4c833efd {
    width: 30%;
  }

  .elementor-17 .elementor-element.elementor-element-67000bb0 {
    width: 70%;
  }

  .elementor-17 .elementor-element.elementor-element-4b55d866 {
    width: 100%;
  }

  .elementor-17 .elementor-element.elementor-element-15eae555 {
    width: 100%;
  }

  .elementor-17 .elementor-element.elementor-element-42784df6 {
    width: 100%;
  }
}

@media(min-width:1025px) {

  .elementor-17 .elementor-element.elementor-element-72308e04:not(.elementor-motion-effects-element-type-background),
  .elementor-17 .elementor-element.elementor-element-72308e04>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-attachment: fixed;
  }

  .elementor-17 .elementor-element.elementor-element-442b8514:not(.elementor-motion-effects-element-type-background),
  .elementor-17 .elementor-element.elementor-element-442b8514>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}

@media(max-width:1024px) {
  .elementor-17 .elementor-element.elementor-element-320e1a36 .elementor-heading-title {
    font-size: 2.125rem;
  }

  .elementor-17 .elementor-element.elementor-element-320e1a36>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }

  .elementor-17 .elementor-element.elementor-element-67000bb0>.elementor-element-populated {
    padding: 1em 1em 1em 1em;
  }

  .elementor-17 .elementor-element.elementor-element-2c9500e5 .elementor-heading-title {
    font-size: 3.5em;
  }

  .elementor-17 .elementor-element.elementor-element-7d4c49e0 {
    --spacer-size: 0px;
  }
}

@media(max-width:767px) {
  .elementor-17 .elementor-element.elementor-element-72308e04 {
    padding: 40px 0px 40px 0px;
  }

  .elementor-17 .elementor-element.elementor-element-171b7633 .elementor-heading-title {
    font-size: 1rem;
  }

  .elementor-17 .elementor-element.elementor-element-690fb108 .elementor-divider-separator {
    width: 100%;
  }

  .elementor-17 .elementor-element.elementor-element-7a51b2b2 .elementor-divider-separator {
    width: 100%;
  }

  .elementor-17 .elementor-element.elementor-element-320e1a36 .elementor-heading-title {
    font-size: 2.5rem;
  }

  .elementor-17 .elementor-element.elementor-element-442b8514 {
    padding: 40px 0px 40px 0px;
  }

  .elementor-17 .elementor-element.elementor-element-7000bb4f .elementkit-tab-nav .elementkit-nav-link {
    padding: 14px 14px 14px 14px;
  }

  .elementor-17 .elementor-element.elementor-element-7000bb4f .elementskit_tooltip_style.elementkit-tab-nav .elementkit-nav-item .elementkit-nav-link::before {
    width: 12px;
    height: 12px;
    bottom: -6px;
  }

  .elementor-17 .elementor-element.elementor-element-1ca7f767 {
    --spacer-size: 179px;
  }

  .elementor-17 .elementor-element.elementor-element-67000bb0>.elementor-element-populated {
    padding: 1em 1em 1em 1em;
  }

  .elementor-17 .elementor-element.elementor-element-2c9500e5 {
    text-align: left;
  }

  .elementor-17 .elementor-element.elementor-element-2c9500e5 .elementor-heading-title {
    font-size: 2.5em;
  }

  .elementor-17 .elementor-element.elementor-element-3aff4515 .elementor-divider-separator {
    width: 72px;
    margin: 0 auto;
    margin-left: 0;
  }

  .elementor-17 .elementor-element.elementor-element-3aff4515 .elementor-divider {
    text-align: left;
  }

  .elementor-17 .elementor-element.elementor-element-4bdd61c7 {
    text-align: left;
  }

  .elementor-17 .elementor-element.elementor-element-48f3c8f6 {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .elementor-17 .elementor-element.elementor-element-404abda0>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0em 0em 1em 0em;
  }

  .elementor-17 .elementor-element.elementor-element-15eae555>.elementor-element-populated {
    padding: 1em 1em 1em 1em;
  }

  .elementor-17 .elementor-element.elementor-element-492c7533 {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}