.elementor-19 .elementor-element.elementor-element-7630d292:not(.elementor-motion-effects-element-type-background),
.elementor-19 .elementor-element.elementor-element-7630d292>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../../2024/01/MB/16.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementor-19 .elementor-element.elementor-element-7630d292>.elementor-background-overlay {
  background-color: #050404;
  opacity: 0.72;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-19 .elementor-element.elementor-element-7630d292 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -75px;
  margin-bottom: 0px;
  padding: 170px 0px 158px 0px;
}

.elementor-19 .elementor-element.elementor-element-720d9bed .elementskit-section-title-wraper .elementskit-section-title {
  color: #ffffff;
  margin: 0px 0px 25px 0px;
  font-family: "Lato", Sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.elementor-19 .elementor-element.elementor-element-720d9bed .elementskit-section-title-wraper .elementskit-section-title>span {
  color: #2575fc;
}

.elementor-19 .elementor-element.elementor-element-720d9bed .elementskit-section-title-wraper .elementskit-section-title:hover>span {
  color: #000000;
}

.elementor-19 .elementor-element.elementor-element-1ebdcde8>.elementor-background-overlay {
  background-color: #ffffff;
  opacity: 0.93;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-19 .elementor-element.elementor-element-1ebdcde8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 35px;
  margin-bottom: 0px;
}

.elementor-19 .elementor-element.elementor-element-69133ca0:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-19 .elementor-element.elementor-element-69133ca0>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../../2024/01/MB/13.jpeg");
  background-position: center right;
  background-size: cover;
}

.elementor-19 .elementor-element.elementor-element-69133ca0>.elementor-element-populated>.elementor-background-overlay {
  background-color: #f9f6db;
  opacity: 0.23;
}

.elementor-19 .elementor-element.elementor-element-69133ca0>.elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-19 .elementor-element.elementor-element-69133ca0>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-19 .elementor-element.elementor-element-3c070292 iframe {
  height: 1146px;
}

.elementor-19 .elementor-element.elementor-element-2cc85a8b>.elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 51px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 5% 12% 0% 0%;
}

.elementor-19 .elementor-element.elementor-element-2cc85a8b>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-19 .elementor-element.elementor-element-2994046>.elementor-container {
  max-width: 700px;
}

.elementor-19 .elementor-element.elementor-element-7bf5d091 {
  text-align: center;
}

.elementor-19 .elementor-element.elementor-element-7bf5d091 .elementor-heading-title {
  color: #28211a;
  font-family: "Nunito Sans", Sans-serif;
  font-size: 3.8em;
  font-weight: 800;
}

.elementor-19 .elementor-element.elementor-element-2387907f {
  --divider-border-style: solid;
  --divider-color: #FF0000;
  --divider-border-width: 3px;
}

.elementor-19 .elementor-element.elementor-element-2387907f .elementor-divider-separator {
  width: 72px;
  margin: 0 auto;
  margin-center: 0;
}

.elementor-19 .elementor-element.elementor-element-2387907f .elementor-divider {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.elementor-19 .elementor-element.elementor-element-61e808b {
  text-align: center;
  color: #757575;
  font-family: "Nunito", Sans-serif;
  font-size: 1em;
  line-height: 1.7em;
}

.elementor-19 .elementor-element.elementor-element-5cf5ae23 {
  --spacer-size: 30px;
}

.elementor-19 .elementor-element.elementor-element-6a58be39 {
  margin-top: 0px;
  margin-bottom: 30px;
}

.elementor-bc-flex-widget .elementor-19 .elementor-element.elementor-element-1b33a6da.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-19 .elementor-element.elementor-element-1b33a6da.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-19 .elementor-element.elementor-element-576b4cbc {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 17px;
  --grid-column-gap: 10px;
  --grid-row-gap: 0px;
}

.elementor-19 .elementor-element.elementor-element-576b4cbc .elementor-widget-container {
  text-align: left;
}

.elementor-19 .elementor-element.elementor-element-576b4cbc .elementor-social-icon {
  background-color: #ffffff;
  --icon-padding: 0.6em;
}

.elementor-19 .elementor-element.elementor-element-576b4cbc .elementor-social-icon i {
  color: #212121;
}

.elementor-19 .elementor-element.elementor-element-576b4cbc .elementor-social-icon svg {
  fill: #212121;
}

.elementor-19 .elementor-element.elementor-element-576b4cbc .elementor-social-icon:hover {
  background-color: #ffffff;
}

.elementor-19 .elementor-element.elementor-element-576b4cbc .elementor-social-icon:hover i {
  color: #ffab00;
}

.elementor-19 .elementor-element.elementor-element-576b4cbc .elementor-social-icon:hover svg {
  fill: #ffab00;
}

.elementor-19 .elementor-element.elementor-element-39a5a2cc {
  margin-top: 0px;
  margin-bottom: 30px;
}

.elementor-19 .elementor-element.elementor-element-9cbcc9f {
  text-align: center;
}

.elementor-19 .elementor-element.elementor-element-9cbcc9f>.elementor-widget-container {
  margin: 83px 0px 0px 0px;
}

.elementor-19 .elementor-element.elementor-element-40d25d34.elementor-view-stacked .elementor-icon {
  background-color: #043484;
}

.elementor-19 .elementor-element.elementor-element-40d25d34.elementor-view-framed .elementor-icon,
.elementor-19 .elementor-element.elementor-element-40d25d34.elementor-view-default .elementor-icon {
  fill: #043484;
  color: #043484;
  border-color: #043484;
}

.elementor-19 .elementor-element.elementor-element-40d25d34 {
  --icon-box-icon-margin: 13px;
}

.elementor-19 .elementor-element.elementor-element-40d25d34 .elementor-icon {
  font-size: 13px;
  padding: 16px;
}

.elementor-19 .elementor-element.elementor-element-40d25d34 .elementor-icon-box-wrapper {
  text-align: left;
}

.elementor-19 .elementor-element.elementor-element-40d25d34 .elementor-icon-box-title {
  margin-bottom: 6px;
  color: #282828;
}

.elementor-19 .elementor-element.elementor-element-40d25d34 .elementor-icon-box-title,
.elementor-19 .elementor-element.elementor-element-40d25d34 .elementor-icon-box-title a {
  font-family: "Nunito", Sans-serif;
  font-size: 1em;
  font-weight: 700;
}

.elementor-19 .elementor-element.elementor-element-40d25d34 .elementor-icon-box-description {
  font-family: "Nunito Sans", Sans-serif;
  font-size: 0.9rem;
}

.elementor-19 .elementor-element.elementor-element-2673b2ac.elementor-view-stacked .elementor-icon {
  background-color: #043484;
}

.elementor-19 .elementor-element.elementor-element-2673b2ac.elementor-view-framed .elementor-icon,
.elementor-19 .elementor-element.elementor-element-2673b2ac.elementor-view-default .elementor-icon {
  fill: #043484;
  color: #043484;
  border-color: #043484;
}

.elementor-19 .elementor-element.elementor-element-2673b2ac {
  --icon-box-icon-margin: 13px;
}

.elementor-19 .elementor-element.elementor-element-2673b2ac .elementor-icon {
  font-size: 13px;
  padding: 16px;
}

.elementor-19 .elementor-element.elementor-element-2673b2ac .elementor-icon-box-wrapper {
  text-align: left;
}

.elementor-19 .elementor-element.elementor-element-2673b2ac .elementor-icon-box-title {
  margin-bottom: 6px;
  color: #282828;
}

.elementor-19 .elementor-element.elementor-element-2673b2ac .elementor-icon-box-title,
.elementor-19 .elementor-element.elementor-element-2673b2ac .elementor-icon-box-title a {
  font-family: "Nunito", Sans-serif;
  font-size: 1em;
  font-weight: 700;
}

.elementor-19 .elementor-element.elementor-element-2673b2ac .elementor-icon-box-description {
  font-family: "Nunito Sans", Sans-serif;
  font-size: 0.9rem;
}

.elementor-19 .elementor-element.elementor-element-55298137.elementor-view-stacked .elementor-icon {
  background-color: #043484;
}

.elementor-19 .elementor-element.elementor-element-55298137.elementor-view-framed .elementor-icon,
.elementor-19 .elementor-element.elementor-element-55298137.elementor-view-default .elementor-icon {
  fill: #043484;
  color: #043484;
  border-color: #043484;
}

.elementor-19 .elementor-element.elementor-element-55298137 {
  --icon-box-icon-margin: 13px;
}

.elementor-19 .elementor-element.elementor-element-55298137 .elementor-icon {
  font-size: 13px;
  padding: 16px;
}

.elementor-19 .elementor-element.elementor-element-55298137 .elementor-icon-box-wrapper {
  text-align: left;
}

.elementor-19 .elementor-element.elementor-element-55298137 .elementor-icon-box-title {
  margin-bottom: 6px;
  color: #282828;
}

.elementor-19 .elementor-element.elementor-element-55298137 .elementor-icon-box-title,
.elementor-19 .elementor-element.elementor-element-55298137 .elementor-icon-box-title a {
  font-family: "Nunito", Sans-serif;
  font-size: 1em;
  font-weight: 700;
}

.elementor-19 .elementor-element.elementor-element-55298137 .elementor-icon-box-description {
  font-family: "Nunito Sans", Sans-serif;
  font-size: 0.9rem;
}

@media(min-width:768px) {
  .elementor-19 .elementor-element.elementor-element-35dd4b89 {
    width: 20%;
  }

  .elementor-19 .elementor-element.elementor-element-7ef9c228 {
    width: 58.702%;
  }

  .elementor-19 .elementor-element.elementor-element-f6d5905 {
    width: 20.63%;
  }

  .elementor-19 .elementor-element.elementor-element-69133ca0 {
    width: 33.333%;
  }

  .elementor-19 .elementor-element.elementor-element-2cc85a8b {
    width: 66.667%;
  }

  .elementor-19 .elementor-element.elementor-element-5b9c8188 {
    width: 34.95%;
  }

  .elementor-19 .elementor-element.elementor-element-e908162 {
    width: 65.05%;
  }
}

@media(max-width:1024px) and (min-width:768px) {
  .elementor-19 .elementor-element.elementor-element-69133ca0 {
    width: 30%;
  }

  .elementor-19 .elementor-element.elementor-element-2cc85a8b {
    width: 70%;
  }

  .elementor-19 .elementor-element.elementor-element-5b19c48 {
    width: 100%;
  }

  .elementor-19 .elementor-element.elementor-element-5b9c8188 {
    width: 100%;
  }
}

@media(max-width:1024px) {
  .elementor-19 .elementor-element.elementor-element-3c070292 iframe {
    height: 1171px;
  }

  .elementor-19 .elementor-element.elementor-element-2cc85a8b>.elementor-element-populated {
    padding: 1em 1em 1em 1em;
  }

  .elementor-19 .elementor-element.elementor-element-7bf5d091 .elementor-heading-title {
    font-size: 3.5em;
  }
}

@media(max-width:767px) {
  .elementor-19 .elementor-element.elementor-element-3c070292 iframe {
    height: 408px;
  }

  .elementor-19 .elementor-element.elementor-element-2cc85a8b>.elementor-element-populated {
    padding: 30px 30px 30px 30px;
  }

  .elementor-19 .elementor-element.elementor-element-7bf5d091 {
    text-align: center;
  }

  .elementor-19 .elementor-element.elementor-element-7bf5d091 .elementor-heading-title {
    font-size: 2.5em;
  }

  .elementor-19 .elementor-element.elementor-element-2387907f .elementor-divider-separator {
    width: 72px;
    margin: 0 auto;
    margin-center: 0;
  }

  .elementor-19 .elementor-element.elementor-element-2387907f .elementor-divider {
    text-align: center;
  }

  .elementor-19 .elementor-element.elementor-element-6a58be39 {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .elementor-19 .elementor-element.elementor-element-576b4cbc .elementor-widget-container {
    text-align: center;
  }

  .elementor-19 .elementor-element.elementor-element-576b4cbc {
    --icon-size: 14px;
  }

  .elementor-19 .elementor-element.elementor-element-39a5a2cc {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .elementor-19 .elementor-element.elementor-element-40d25d34 .elementor-icon-box-wrapper {
    text-align: center;
  }

  .elementor-19 .elementor-element.elementor-element-2673b2ac .elementor-icon-box-wrapper {
    text-align: center;
  }

  .elementor-19 .elementor-element.elementor-element-55298137 .elementor-icon-box-wrapper {
    text-align: center;
  }
}